torch>=2.0.0
torchvision>=0.15.0
#setuptools==80.0.0
lightning-utilities>=0.10.0
numpy<2.0.0
pandas>=2.3.0
scipy>=1.16.0
scikit-learn>=1.7.0
matplotlib>=3.10.0
pydicom>=2.3.0
opencv-python>=4.5.0
tqdm>=4.67.0
wandb>=0.21.0
einops>=0.8.0
torchmetrics>=1.7.0
h5py>=3.14.0
openpyxl>=3.1.0
tabulate>=0.8.9
requests>=2.32.0
joblib>=1.5.0
rarfile>=4.0
patoolib>=0.0.1
huggingface_hub>=0.33.0
pillow>=11.0.0
pydantic>=2.11.0
PyYAML>=6.0.0
gitpython>=3.1.0
click>=8.2.0
colorama>=0.4.6
filelock>=3.13.0
fsspec>=2024.6.0
jinja2>=3.1.0
packaging>=25.0
platformdirs>=4.3.0
protobuf>=6.31.0
python-dateutil>=2.9.0
pytz>=2025.2
sentry-sdk>=2.32.0
six>=1.17.0
sympy>=1.13.0
threadpoolctl>=3.6.0
typing-extensions>=4.12.0
urllib3>=2.5.0